* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(220, 84, 43, 0.387);
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.item {
    padding: 20px;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    z-index: 1;
    position: relative;
}

.form-section {
    padding: 2rem;
    background-color: rgba(189, 9, 9, 0.1);
    margin: 1rem;
    z-index: 2;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 0.5rem 0 0.2rem;
}

input {
    padding: 0.5rem;
    margin-bottom: 1rem;
}

button {
    padding: 0.5rem;
    background-color: rgb(251, 9, 167);
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #f1f1f1;
}

@media (max-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media (max-width: 480px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}